services:
  mapdl:
    restart: unless-stopped
    image: ${IMAGE_NAME_MAPDL:-ghcr.io/ansys/mapdl:latest_daily}
    # By default, run on a single core only. Otherwise the command may
    # fail in restricted environments.
    # For example, the default Github Actions runner only has two cores.
    command: ${MAPDL_CMD:--smp -np 1}
    shm_size: '4gb'
    ports:
    - "127.0.0.1:${PYMAPDL_PORT:-50557}:50052"
    environment:
      - ANSYSLMD_LICENSE_FILE=${ANSYSLMD_LICENSE_FILE}
      - ANSYS_LOCK=OFF
      - ANSYS_MAPDL_GRPC_TRANSPORT=insecure
      - ANSYS_MAPDL_GRPC_ALLOWREMOTE=true
  pydpf-composites-server:
    restart: unless-stopped
    image: ${IMAGE_NAME_DPF_COMPOSITES:-ghcr.io/ansys/pydpf-composites:latest}
    ports:
    - "127.0.0.1:${PYDPF_COMPOSITES_DOCKER_CONTAINER_PORT:-50558}:50052"
    environment:
      - ANSYSLMD_LICENSE_FILE=${ANSYSLMD_LICENSE_FILE}
      - ANSYS_DPF_ACCEPT_LA=${ANSYS_DPF_ACCEPT_LA}
      - DPF_DEFAULT_GRPC_MODE=insecure
